.main {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100% ;
    overflow-x: hidden
}

.body {
    margin: 0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing{
    height: auto;
    width: auto;
}

.arrow {
    animation: slide1 1s ease-in-out infinite
}

@keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(10px, 0);
    }
  }