
.contact{
    display: flex;
    margin: 0;
    padding: 0;
}

.contact p{
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 50px 0;
    color: #22313f;
    font-size: 16px;
}

.contact p a{
    color: #22313f;
    text-decoration: none;
    border-bottom: 1px dashed #22313f;
    transition: 0.3s;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
    margin-bottom: 10px;
}

.contact p .social a {
    border: none;
}

.copyright {
    font-size: 0.8rem;
    margin-top: 30px;
    font-weight: lighter;
}